argcomplete==3.3.0
astunparse==1.6.3
gast==0.6.0
kagglehub==0.3.6
keras-hub==0.18.1
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
numpy==2.0.2
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pip-autoremove==0.10.0
pipx==1.5.0
platformdirs==4.2.2
protobuf==5.29.3
requests==2.32.3
setuptools==75.8.0
six==1.17.0
tensorboard==2.18.0
tensorflow-text==2.18.1
tf_keras==2.18.0
typing_extensions==4.12.2
userpath==1.9.2
Werkzeug==3.1.3
wheel==0.44.0
